In [1]:
import pandas as pd 
import numpy as np

In [2]:
# friend = pd.read_csv("friends/friends_acc_3.csv")

In [3]:
# friend

In [4]:
# friend["Message_Status"] = False

In [5]:
# friend.to_csv("friends/friends_acc_3.csv", index=False)

In [6]:
status_true = pd.read_csv("status_true.csv")
status_true.head()

,acc_id,username,password,name,status,TotalFriends
0,acc_0077,phamxuandepgai789@gmail.com,thuc2001,Thanh Kiều,True,704.0
1,acc_0076,Thienlamgreyrat42@gmail.com,Thienlam2704,Thành Trung BĐS,True,224.0
2,acc_0098,chupp794@gmail.com,123phuong@@,Phuong Bds,True,164.0
3,acc_0018,sonyeuchaunhieulam@gmail.com,sonyeuchaunhieulam0123456789,Bất Động Sản Thu,True,334.0
4,acc_0095,TuanNHuy260705@gmail.com,b0BFx%w=P^~NJWzjy.r,Nguyễn Tuấn Huy,True,241.0

In [7]:
n = len(status_true)
part = n // 3

status_1 = status_true.iloc[:part]
status_2 = status_true.iloc[part:2*part]
status_3 = status_true.iloc[2*part:]

In [ ]:
status_1.to_csv("status_true_1.csv", index= False)
status_2.to_csv("status_true_2.csv", index= False)
status_3.to_csv("status_true_3.csv", index= False)