In [8]:
import pandas as pd 
import numpy as np

In [9]:
friend = pd.read_csv("friends/friends_acc_3.csv")

In [10]:
friend

,name,link
0,Nguyễn Minh Triều,https://www.facebook.com/nguyen.minh.trieu.776502
1,Đức Cảnh Bđs,https://www.facebook.com/uccanhbs.2025
2,Bđs Lê Minh Sáu,https://www.facebook.com/b.s.le.minh.sau
3,Nhà Đất Hóc Môn,https://www.facebook.com/song.tri.dung
4,Thế Vũ Bđs,https://www.facebook.com/the.vu.356218
...,...,...
82,Nhà Đất Dĩ An,https://www.facebook.com/nha.at.di.an.683945
83,Định BĐS Hà Nam,https://www.facebook.com/inhbshanam
84,Minh Nguyễn HomeStay Time City,https://www.facebook.com/minh.nguyen.homestay....
85,Đào Yến BĐS,https://www.facebook.com/yenhanahandmade
86,BĐS PHÚC AN,https://www.facebook.com/b.s.phuc.an.442977

In [11]:
friend["Message_Status"] = False

In [12]:
friend.to_csv("friends/friends_acc_3.csv", index=False)